body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #121212;
    overflow: hidden;
}

.scroll-indicator{
    width: 20px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #f2f2f2;
    position: relative;
}

.scroll-indicator::after{
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #f2f2f2;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    animation: scroll 2s infinite;
}

@keyframes scroll {
    0%{
        top: 25px;
        opacity: 1;
    }

    100%{
        top: 5px;
        opacity: 0;
    }
}