/*-------------------- CSS --------------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #456;
}
.container {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-direction: column;

    background: white;
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
}

.input-area {
    display: flex;
    justify-content: center;
}

.input-text {
    width: 300px;
    padding: 15px 20px;
    border-radius: 15px 0 0 15px;
    outline: none;
    border: 2px solid #d2481e;

    caret-color: #d2481e;
}
.input-text::placeholder {
    color: #d2481e88;
}
.generate-qr {
    width: 150px;
    padding: 15px 20px ;
    border-radius: 0 15px 15px 0;
    outline: none;
    border: 0;
    background: #d2481e;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-transform: capitalize;
}

.qr-area {
    width: 500px;
    height: 0;
    display: flex;
    justify-content: center;
    transition: height 0.5s;
}
.qr-area img {
    height: 100%;
}



.error {
    color: red;
    width: 100%;
    text-align: center;
    position: absolute;
    animation: anime 0.05s linear 10;

    display: none;
}

@keyframes anime {
    0%{transform: translateX(0px);}
   25%{transform: translateX(-2px);}
    50%{transform: translateX(0px);}
    75%{transform: translateX(2px);}
    100%{transform: translateX(0px);}
} 