@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: grid;
    place-items: center;
    height: 100vh;
    width: 100%;
    background: #111;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.icon{
    position: relative;
    background: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all .2s;
}

.icon span{
    display: flex;
    align-items: center;
}

.icon .tooltip{
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon .tooltip::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 8px;
    height: 8px;
    background: #fff;
    transform: translate(-50%) rotate(45deg);
    transition: all .3s;
}

.icon:hover .tooltip{
    opacity: 1;
    top: -45px;
    pointer-events: auto;
}

.icon:hover,
.icon:hover .tooltip,
.icon:hover .tooltip::before{
    background: var(--bg);
    color: #fff;
}