@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

/* VARIABLES */
:root{
    --color-primary: #FFB000;
}

/* ESTILOS GENERALES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #000;
}

body{
    transition: all .5s;
}

.home{
    position: relative;
    max-width: 1250px;
    min-height: 100vh;
    margin: 0 auto 0 auto;
    padding: 4rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

/* CONTENT */
.home-container .info{
    width: 50%;
}

.home-container .info h4{
    font-size: 2em;
    font-weight: 200;
}

.home-container .info h2{
    font-size: 5.5em;
    font-weight: 600;
    line-height: 100px;
}

.home-container .info h2 span{
    color: var(--color-primary);
}

.home-container .info h3 span{
    font-size: 2.5em;
    font-weight: 600;
    color: var(--color-primary)
}

.home-container .info p{
    font-size: 1em;
    margin: 10px 0;
}

.home-container .info button{
    background: var(--color-primary);
    color: #000;
    border: none;
    outline: none;
    padding: 15px 45px;
    margin: 20px 20px 0 0;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
}

.home-container .info button.contact{
    background: #ececec;
    color: #000;
}

.home-container .info button i{
    position: relative;
    top: 5px;
    font-size: 1.2em;
    color: var(--color-primary);
}



/* IMAGE */
.home-container .home-img{
    position: relative;
    display: flex;
    justify-content: center;
    width: 50%;
}

.home-container .home-img img{
    width: 50%;
    filter: drop-shadow(rgba(0,0,0,0.5) 1rem 0 10px);
    animation: animateImg 10s ease-in-out infinite;
}

.home-container .home-img::before{
    content: '';
    position: absolute;
    width: 90%;
    height: 100%;
    background: linear-gradient(70deg, transparent 0%, var(--color-primary) 60%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    animation: animateBg 10s ease-in-out infinite;
}


/* ANIMACION DE MOVIMIENTO */

@keyframes animateImg {
    0%, 100%{
        transform: translateX(0px);
    }
    
    50%{
        transform: translateX(-30px);
    }
}

@keyframes animateBg {
    0%, 100%{
        transform: translateX(0px);
    }
    
    50%{
        transform: translateX(30px);
    }
}


/* DARKMODE */

.darkmode{
    z-index: 99999;
    position: fixed;
    top: 20px;
    right: 0;
    width: 80px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    background: rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all .5s;
}


body.night{
    background: #000;
}

body.night *{
    color: #FFF;
}

body.night .darkmode{
    background: rgba(255, 255, 255, 0.1);
}

.darkmode i:nth-child(2){
    display: none;
}

body.night .darkmode i:nth-child(1){
    display: none;
}

body.night .darkmode i:nth-child(2){
    display: block;
}


/* MEDIA QUERIES */
@media (max-width: 800px) {
    .home-container .info,
    .home-container .home-img{
        width: 100%;
        margin: 20px 0;
    }
}