@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --color-primary: #000;
    --color-dark: #1B1B1D;
}

/* NAVBAR Y CONTENEDOR */
.navbar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 70px;
    display: flex;
    flex-direction: column;
    background: var(--color-primary);
    padding: 15px 10px;
    z-index: 99;
    transition: all .5s;
}

.navbar i{
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 22px;
    text-align: center;
    line-height: 60px;
}

.container{
    position: relative;
    background: #E4E9F7;
    min-height: 100vh;
    top: 0;
    left: 70px;
    width: calc(100% - 70px);
    transition: all .5s;
    z-index: 2;
}

.container h1{
    display: inline-block;
    margin: 18px;
}


/* LOGO CONTAINER */
.logo-container{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo-container .logo-name{
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    opacity: 0;
    transition: all .5s;
}

.logo-container #btn-toggle{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    cursor: pointer;
    transition: all .5s;
}


/* ELEMENTOS MENU */
.nav-container{
    margin-top: 20px;
    height: 100%;
}

.nav-container li{
    position: relative;
    margin: 8px 0;
    list-style: none;
}

/* Tooltip */
.tooltip{
    position: absolute;
    top: -20px;
    left: calc(100% + 20px);
    z-index: 3;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    padding: 6px 12px;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
    transition: 0s;
}

.nav-container li:hover .tooltip{
    opacity: 1;
    top: 50%;
    transform: translateY(-50%);
    transition: all .4s;
}


/* Search */
.nav-container li.search{
    display: flex;
    justify-content: center;
}

.nav-container input{
    font-size: 15px;
    color: #fff;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 12px;
    background: var(--color-dark);
    transition: all .5s ease;
}

.nav-container input::placeholder{
    color:  #fff;
}

.nav-container .bx-search{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background: var(--color-dark);
    color: #fff;
}


.nav-container .bx-search:hover{
    background: #fff;
    color: #11101d;
}

/* Enlaces del menu */
.nav-container li a{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all .4s ease;
    background: var(--color-primary);
}


.nav-container li a:hover{
    background: #FFF;
}

.nav-container li a .links{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
    transition: .4s;
}

.nav-container li a:hover .links,
.nav-container li a:hover i{
    color: #000;
    transition: all .5s;
}

.nav-container li i{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
}


/* ESTILOS USER */
.user{
    display: flex;
    position: relative;
    height: 60px;
    width: 100%;
    padding: 10px 14px;
    background: var(--color-dark);
    border-radius: 12px;
    overflow: hidden;
    transition: all .5s ease;
}

.user .user-container{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.user #logout{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: var(--color-dark);
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0;
    cursor: pointer;
    transition: all .5s;
}


.user #logout:hover{
    background: #fff;
    color: #000;
}


/* ESTILOS PARA MENU ABIERTO */
.navbar.open{
    width: 250px;
}

.navbar.open ~ .container{
    left: 250px;
    width: calc(100% - 250px);
}

/* Logo container */
.navbar.open .logo-container .logo-name{
    opacity: 1;
}

.navbar.open .logo-container #btn-toggle{
    right: 0;
}


/* Menu */
.navbar.open li .tooltip{
    display: none;
}

.navbar.open input{
    padding: 0 20px 0 50px;
    width: 100%;
}

.navbar.open .bx-search{
    width: 0;
}

.navbar.open li a .links{
    opacity: 1;
    pointer-events: auto;
}

/* User */
.navbar.open .user #logout{
    width: 50px;
    background: none;
}

.user img{
    height: 35px;
    width: 35px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
}

.user .name,
.user .job{
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
}

.user .job{
    font-size: 12px;
}